.main {
  width: 100%;
  background-image: url("../../images/body-bg.jpeg");
  background-size: cover;
  padding: 1.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767.98px) {
    padding: 1rem;
  }

  @media screen and (max-width: 479.98px) {
    padding: 0.5rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
}
