header {
  width: 100%;
}

.container {
  max-width: 90rem;
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: white;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding: 1rem 2rem;
  }
}

.logos {
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 10px;
  width: 2rem;
}

.logoText {
  width: 4rem;
}

.menuButton {
  font-size: 2rem;
  cursor: pointer;
}

.sideMenu {
  position: relative;
}
